.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creditbar {
  display: flex;
  align-items: center;
}

.creditbar p {
  font-size: 0.75rem;
  padding: 0.5rem;
  line-height: 1.25rem;
}

.linkbar {
  display: flex;
  flex-direction: row;
  transform: translateX(0.75rem);
}

.linkbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.headshot {
  height: 45px;
  width: 45px;
  margin: 0.75rem 0;
}
