.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main h1 {
  width: fit-content;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  padding: 0px 2px 3px 2px;
}

.main h1:hover,
.main h1:active {
  color: #0070f3;
  border-color: #0070f3;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52ch;
  min-height: 350px;
}

.headline h2 {
  text-align: left;
  font-weight: unset;
  margin: 0;
  font-size: 22px;
  line-height: 2rem;
}

.content {
  display: flex;
  flex: 1;

  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  width: calc(50% - 2rem);
  cursor: pointer;
  margin: 1rem 0 1rem 0;
}

.item:hover .card,
.item:active .card {
  color: #0070f3;
  border-color: #0070f3;
  transform: scale(0.98) translateY(-2px);
}

.item:hover .image,
.item:active .image {
  transform: scale(0.98) translateY(3px);
}

.card {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
}

.card h2 {
  margin: 0 0 1rem 0;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.image {
  transition: transform 0.2s ease;
}

@media (max-width: 600px) {
  .headline {
    width: 100%;
    min-height: 60vh;
  }
  .content {
    flex-direction: column;
    justify-content: space-between;
  }
  .item {
    width: 100%;
    margin-top: 1rem 0 3rem 0;
  }
  .image {
    margin-top: 1rem;
  }
}
