.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main h1 {
  width: 100%;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52ch;
  min-height: 350px;
}

.headline h2 {
  text-align: left;
  font-weight: unset;
  margin: 0;
  line-height: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  width: calc(50% - 2rem);
  cursor: pointer;
}

.item:hover .card,
.item:hover .card,
.item:active .card {
  color: #0070f3;
  border-color: #0070f3;
}

.card {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: color 0.15s ease, border 0.15s ease;
}

.card h2 {
  margin: 0 0 1rem 0;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .headline {
    width: 100%;
    min-height: 60vh;
  }
  .content {
    flex-direction: column;
    justify-content: space-between;
  }
  .item {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .image {
    margin-top: 1rem;
  }
}
