.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(60ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}

.fullbleed {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-column: 1 / 4;
}

.image {
  margin: 1rem 2rem;
}

@media (max-width: 600px) {
  .fullbleed {
    flex-direction: column;
  }
}
