.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    1fr
    min(30ch, 50%)
    min(30ch, 50%)
    1fr
    1fr;
}

.wrapper > * {
  grid-column: 3 / 5;
}

/* style automatically-generated elements below */

.wrapper p {
  line-height: 1.5rem;
  margin: 0 0 1rem 0;
}

.wrapper ul {
  padding-left: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.wrapper ul li {
  line-height: 1.5rem;
  padding-left: 0.2rem;
  padding-bottom: 0.75rem;
}

.wrapper ol {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.wrapper ol li {
  line-height: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.75rem;
}

.wrapper img {
  grid-column: 2 / 6;
  width: 100%;
  margin: 2rem 0;
}

.wrapper a {
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}

.wrapper a:hover,
.wrapper a:active {
  color: #0070f3;
  border-color: #0070f3;
}

@media (max-width: 600px) {
  .wrapper img {
    grid-column: 3 / 5;
  }
}
